body{
    margin: 0;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    padding-bottom: 20px;

}

.card-container{
    width:160px;
    height: 240px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}