body{
    margin: 0;
    background-color: rgb(143, 103, 180);
  font-family: "Audiowide", sans-serif;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(28, 48, 48);
    padding-bottom: 20px;

}

#listPokemon {
    background-color: rgb(9, 32, 26);
    text-transform: uppercase;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px; 
}

.card-container {
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    position: relative; 
    width: 240px; 
    box-sizing: border-box; 
    
}

.pokemon-id-background {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 96px; 
    font-weight: 800;
    z-index: -1;
    color: gray;
    opacity: 0.1;
}

.pokemon-image {
    padding-inline: 10px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.6));
    transition: filter 0.3s ease, transform 0.3s ease;
}

.pokemon-image:hover{
    filter: drop-shadow(4px 4px 8px rgba(133, 41, 41, 0.8));
    transform: scale(1.5); 
}

.pokemon-image img {
    width: 100%;
    max-width: 96px; 
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 10px;
    align-items: center;
    text-align: center;
}

.pokemon-number {
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: rgb(69, 194, 20);
    padding: 4px 10px; 
    border-radius: 9999px; 
    font-size: 12px; 
    font-weight: 500;
}

.pokemon-name {
    font-size: 22.4px; 
}

.pokemon-type {
    display: flex;
    gap: 10px;
    font-size: 10px;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.type{
    padding: 4px 10px; 
    border-radius: 9999px;
}

.pokemon-status {
    display: flex;
    gap: 10px;
    font-size: 13.6px;
}

.height, .weight {
    background-color: rgb(10, 84, 196);
    padding: 4px 10px; 
    border-radius: 9999px;
}
